<div class="page-header">
  <h1>
    Dishes
    <%= link_to icon('plus'), new_dish_path, class: "btn btn-lg btn-success" %>
  </h1>
</div>

<!-- Responsive, Isotope-based layout example -->

<div class="row">
  <div class="col-xs-12">
    <input type="text" id="quicksearch" placeholder="Search Dishes (start typing)" class="form-control">
  </div>
</div>

<hr>

<div class="row isotope-container">
<% @dishes.each do |dish| %>
  <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 isotope-item">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">
          <%= dish.name %>
          <%# if dish.cuisine.present? %>
          <small><%= dish.cuisine.try(:name) %></small>
          <%# end %>
        </h3>
      </div>
      <div class="panel-body">

        <%# existing_favorite = Favorite.find_by({ :dish_id => dish.id, :user_id => current_user.id }) %>

        <% existing_favorite = current_user.favorites.find_by(:dish_id => dish.id) %>

        <% if existing_favorite.present? %>
          <p class="lead"><%= existing_favorite.venue.name %></p>

          <div class="btn-group btn-group-justified">
            <%= link_to icon('edit'), edit_favorite_url(existing_favorite), class: "btn btn-warning" %>

            <%= link_to icon('trash-o'), existing_favorite, method: :delete, data: { confirm: "Do you really want to delete this favorite?" }, class: "btn btn-danger" %>
          </div>
        <% else %>
          <% new_fave = Favorite.new %>
          <% new_fave.dish_id = dish.id %>
          <%= form_for new_fave do |f| %>
            <%= f.collection_select :venue_id, Venue.all, :id, :name, { :prompt => "Select a venue..." }, :class => "form-control" %>
            <%= f.hidden_field :dish_id %>
            <%= f.button icon('plus'), :class => "btn btn-success btn-block" %>
          <% end %>

          <%#= form_tag favorites_url do %>
            <%#= select_tag :venue_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control" %>
            <%#= hidden_field_tag :dish_id, dish.id %>
            <%#= submit_tag "Add", :class => "btn btn-success btn-block" %>
          <%# end %>

        <% end %>
      </div>
    </div>
  </div>
<% end %>
</div>

<!-- JavaScript for Isotope layout and quicksearch -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/3.1.8/imagesloaded.pkgd.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
<script>
  $(function() {
    // quick search regex
    var qsRegex;

    // init Isotope
    var $container = $('.isotope-container');

    $container.imagesLoaded(function() {
      $container.isotope({
        itemSelector: '.isotope-item',
        layoutMode: 'masonry',
        filter: function() {
          return qsRegex ? $(this).text().match( qsRegex ) : true;
        }
      })
    });

    // use value of search field to filter
    var $quicksearch = $('#quicksearch').keyup( debounce( function() {
      qsRegex = new RegExp( $quicksearch.val(), 'gi' );
      $container.isotope();
    }, 200 ) );

  });

  // debounce so filtering doesn't happen every millisecond
  function debounce( fn, threshold ) {
    var timeout;
    return function debounced() {
      if ( timeout ) {
        clearTimeout( timeout );
      }
      function delayed() {
        fn();
        timeout = null;
      }
      timeout = setTimeout( delayed, threshold || 100 );
    }
  }
</script>

<!-- End responsive, Isotope-based layout example -->
